.myaccount {
    padding: 3rem;
}
.my-account-title {
    font-size: 3rem;
    padding: 0 2rem;
}
.account-information {
    display: flex;
    flex-flow: column;
}
.account-info-title {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid black;
}
.account-label {
    font-size: 1.2rem;
    padding: 1rem;
}
.account-value {
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 0.1rem solid black;
}
.account-btn {
    font-size: 1.1rem;
    margin: 2rem;
    margin-left: 1rem;
    padding: 1rem;
    width: 27.2rem;
    background-color: #e40046;
    color: white;
    border-radius: 1rem;
}
.account-btn:hover {
    background-color: lightcoral;
}
