.title {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    border-bottom: 0.5rem solid black;
    margin: 1.5rem;
    margin-top: 3rem;
}
.itemTemp {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.icon {
    width: 15rem;
    height: 20rem;
}

.rate {
    display: flex;
}
.itemtitle {
    font-weight: 500;
}
.item {
    width: 25rem;
    height: 32rem;
    padding: 5rem;
    align-items: center;
    justify-content: center;
}
.iconimg {
    padding: 0 5rem;
    width: 80%;
}
.line {
    border: 0.25rem solid black;
    background-color: black;
    margin: 0 2rem;
}
.cartadd,
.buy {
    background-color: #e40046;
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 1rem;
    margin-left: 0;
    color: white;
}
.cartadd:hover,
.buy:hover {
    background-color: rgb(255, 111, 111);
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 1rem;
    margin-left: 0;
}
